.container {
  display: flex;
  width: 100%;
  padding: 0 6rem;
  height: 5rem;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-details {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  padding: 2% 4%;
  font-size: 1rem;
  font-weight: 600;
  background-color: #d01c28;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
}
.hamburger-menu {
  display: none;
}
@media (max-width: 605px) {
  .container {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .hamburger-menu {
    display: block;
  }
  .button-container {
    display: none;
  }
  .menu-details {
    display: none;
  }
  .mobile-menu-details {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 605px) and (max-width: 768px) {
  .container {
    display: flex;
    width: 100%;
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .menu-details {
    display: none;
  }
  .button-container {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-menu-details {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    text-align: center;
    font-size: 1rem;
    flex-wrap: wrap;
    width: 100%;
  }
}
